p {
    margin: 0
}

#up {
    width: 320px;
    height: 315px;
    OVERFLOW-Y: auto;
    OVERFLOW-X: hidden;
    position: absolute;
    top: 220px;
    left: 1090px;

}

.userchattime {
    float: right;
    font-size: 15px;
}

.otherchattime {
    left: 30px;
    position: absolute;
    font-size: 15px;
}

.userchatname {
    float: right;
    font-size: 15px;
}

.otherchatname {
    /*float: left;*/
    left: 30px;
    position: absolute;
    font-size: 15px;
}

.tutorchatname {
    left: 30px;
    position: absolute;
    /*float: left;*/
    font-size: 15px;
    color: red;
}

/*气泡样式*/
* {
    margin: 0;
    padding: 0;
}

.otherbox {
    margin: 15px;
    position: relative;
    top: 10px;
    left: 14px;
    width: 200px;
    background: lightgrey;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
}

/*.otherbox:before {*/
/*position: absolute;*/
/*content: "";*/
/*width: 0;*/
/*height: 0;*/
/*right: 100%;*/
/*top: 10px;*/
/*border-top: 13px solid transparent;*/
/*border-right: 26px solid #088cb7;*/
/*border-bottom: 13px solid transparent;*/

/*}*/

.userbox {
    margin: 15px;
    position: relative;
    top: 10px;
    left: 92px;
    width: 200px;
    background: lightgrey;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    padding: 10px;
}

/*
.userbox:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 10px;
    border-top: 13px solid transparent;
    border-left: 26px solid #088cb7;
    border-bottom: 13px solid transparent;

}*/
.pdfobject-container {
    overflow: hidden;
    height: 555px;
    width: 815px;
    float: left;
    border: 1px solid;
    margin: auto;
}